.info {
    width: 100%;
    margin-top: 2.5rem;
    padding: 1.5rem;
    background-color: var(--gray-50);
    border-radius: 0.5rem;
}

.infoList {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-inline-start: 1.25rem;
}

.notice {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
