.container {
    margin-top: -5.625rem; /* -90px -> -5.625rem */
}
.name {
    padding: 0 1rem;
    text-align: center;
}
.logo {
    border-radius: 50%;
    border: 1px solid var(--gray-300);
    background-color: var(--gray-300);
}
