@import '../../../styles/utils.scss';

.container {
    width: 100%;
}
.imageContainer {
    width: 100%;
    height: 8.375rem /* 134px -> 8.375rem */;
    overflow: hidden;
    border: 1px solid var(--gray-300);

    & img {
        object-fit: cover;
        object-position: center;
    }
}
.title {
    @include truncate(2);
}
