.container {
    width: 100%;
    min-height: 22.5rem /* 360px -> 22.5rem */;
    background-color: var(--newsac-banner-bg);
    overflow: hidden;
    position: relative;

    &_useBrandBox {
        min-height: 11rem /* 176px -> 11rem */;
        background-color: var(--newsac-primary);
    }
    & img {
        object-fit: contain;
    }
}
