.container {
    width: 100%;
    background-color: var(--newsac-banner-bg);
    position: relative;

    &_useBrandBox {
        min-height: 11rem /* 176px -> 11rem */;
        background-color: var(--newsac-primary);
    }
}
.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
