.link {
    &:not(:hover) {
        background-color: transparent;
    }

    &_active {
        &:not(:hover) {
            background-color: transparent !important;
            color: var(--primary) !important;
        }
    }
}
