/* container */
.forms {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.infoForms {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.divideRow {
    display: flex;
    flex: 0 0 50%;
    gap: 1rem;
}

/* programTypeInput */
.dropdown {
    align-self: flex-end;
    width: 100%;
}

.button,
.typeButton {
    width: 100%;
    > div {
        justify-content: space-between !important;
    }
}

/* InputItem - textarea */
.textarea {
    height: 6.5rem !important;
}

/* ApplyTargetInput */
.checkForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    input {
        position: relative !important;
        margin-left: 0 !important;
        cursor: pointer;
    }
    label {
        font-size: 0.875rem !important;
        font-style: normal !important;
        font-weight: 400 !important;
        margin-left: 0.5rem !important;
        margin-bottom: 0 !important;
        cursor: pointer;
    }
}

.readOnly {
    pointer-events: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.school {
    display: flex;
    align-items: center;
}

.schoolName {
    width: 4rem;
    font-size: 0.875rem;
    vertical-align: center;
}

.schoolGrade {
    display: flex;
    gap: 1.5rem;
}

.divider {
    margin-right: 1rem;
}

.addressForm {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    &_input {
        flex: 1;
        &:read-only {
            opacity: 1;
        }
    }
}

.readOnlyButton {
    opacity: 1 !important;
}
