.container {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px 14px;
    border-radius: 15px;
    background-color: rgba(49, 51, 56, 0.7);
    color: #fff;
    font-size: 12px;

    &_top-left {
        top: 1rem /* 16px -> 1rem */;
        left: 1rem /* 16px -> 1rem */;
    }
    &_top-right {
        top: 1rem /* 16px -> 1rem */;
        right: 1rem /* 16px -> 1rem */;
    }
    &_bottom-left {
        bottom: 1rem /* 16px -> 1rem */;
        left: 1rem /* 16px -> 1rem */;
    }
    &_bottom-right {
        bottom: 1rem /* 16px -> 1rem */;
        right: 1rem /* 16px -> 1rem */;
    }
}

.page {
    color: var(--white);
}

.controller {
    display: flex;
    align-items: center;
    margin-left: 6px;

    & > * {
        cursor: pointer;
    }
}
