@mixin contents-margin {
    margin: 0.75rem 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 2rem;
    margin-bottom: 2.5rem;
}

.contents {
    @include contents-margin;
}

.buttons {
    @include contents-margin;
    display: flex;
    margin-top: auto;
    margin-left: auto;
}

.image {
    object-fit: cover;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--gray-300);
}
