.drawer {
    width: 50rem;
    padding-bottom: 2.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.headerInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.infoCard {
    margin-top: 1.5rem;
}
