@import '@/styles/utils.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px -> 1.25rem */
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 10px;
}

.tableCard {
    overflow: hidden;
    border-bottom: 0;
}

.targetGroup {
    white-space: nowrap;
    @include ellipsis();
}
