.subHeader {
    margin: 1.25rem 0 /* 20px -> 1.25rem */;
    height: 2.5rem /* 40px -> 2.5rem */;
}
.deleteWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.deleteWrapperButtons {
    display: flex;
    gap: 0.5rem;
}
