.subHeader {
    margin: 1.25rem 0 /* 20px -> 1.25rem */;
}
.searchInput {
    width: 21.4375rem /* 343px -> 21.4375rem */;
}
.buttons {
    display: flex;
    gap: 0.625rem; /* 10px -> .625rem */
}
.moreButton {
    width: 2rem;
    height: 2rem;
}
