.guideContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.guideText {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.disabledText {
    opacity: 0.32;
    pointer-events: none;
}

.boldText {
    font-weight: 700;
}

.textButton {
    padding: 0;
    color: var(--gray-700);
}
