.guideContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.guideText {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.boldText {
    margin-right: 0.25rem;
    font-weight: 700;
}
