.container {
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding-top: 0.75rem /* 12px -> .75rem */;
    padding-bottom: 0.75rem /* 12px -> .75rem */;
    background-color: var(--white);
    border-top: 1px solid var(--gray-300);
}
