.container {
    border-radius: 0.5rem;

    &:hover:not(&_active) {
        background-color: var(--gray-600-transparent-8);
    }
    &:focus:not(&_active) {
        background-color: var(--gray-600-transparent-16);
        color: var(--gray-900);
    }

    &_active::after {
        display: none !important;
    }
}
