.dropdown {
    overflow-y: auto;
    max-height: 240px;
}

.dropdownContainer {
    overflow-y: auto;
    max-height: 240px;
}

.dropdownMenu {
    width: 100%;
    max-height: 15rem;
    border-radius: 0.625rem;
    overflow: hidden;
    top: -0.5rem;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    flex: 1;
    &__open {
        padding-left: 2.75rem;
        padding-right: 4.5rem;
    }
}

.rightIcon {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.searchIcon {
    position: absolute;
    left: 1rem;
    color: var(--gray-600);
}

.itemContainer {
    margin: 0.275rem;
    border-radius: 0.375rem;
    width: 97%;
    height: 3.125rem;
}

.item {
    p {
        margin-bottom: 0rem;
    }

    p:nth-child(1) {
        font-size: 0.875rem;
    }

    p:nth-child(2) {
        font-size: 0.75rem;
    }
}
