@import '../../../styles/utils.scss';

.container {
    padding: 1.25rem; /* 20px -> 1.25rem */
    border: 1px solid var(--gray-300, #e1e1e8);
}
.contents {
    margin-left: 0.75rem; /* 12px -> .75rem */
    width: 100%;
}
.title {
    @include truncate(1);
}
