.button {
    width: 100%;
    &_placeholder {
        color: var(--hint);
    }
}
.button > div {
    justify-content: space-between !important;
}

.invalidButton {
    border: 1px solid var(--danger);
}

.readOnlyButton {
    opacity: 1 !important;
}
