.completeFrame {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 12.5rem 0 7.5rem 0;
    text-align: center;
    line-height: 1.5rem;
}

.description {
    margin-bottom: 1.5rem;
    white-space: pre;
    font-size: 1rem;
}
