h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

body {
    background-color: var(--white);
}

:root {
    --newsac-primary: #b6cf52;
}

/** reactQuill Editor style*/
/** placholder*/
.quill > .ql-container > .ql-editor.ql-blank::before {
    font-size: 0.875rem;
    font-style: normal;
    color: var(--hint);
}

/** border*/
.quill > .ql-container {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 0.0625rem solid var(--gray-300) !important;
}

.quill > .ql-toolbar {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 0.0625rem solid var(--gray-300) !important;
}

.quill > .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: none !important;
}
