.thumbnailContainer {
    width: 27.25rem;
    height: 11.625rem;
    position: relative;
    border-radius: 0.5rem;
    &__border {
        border: 1px solid var(--gray-800-transparent-8);
    }
}

.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.fileInput {
    flex: 1 0 auto;
}

.disabledInput {
    // NOTE : disabled props 없어서 직접 처리
    > div {
        pointer-events: none;
        opacity: 0.32;
    }
}
