.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px -> 1.25rem */
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.modalText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}
